
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
$font: 'Cormorant', serif;


@import 'main';
@import 'resume';